<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ConnectionString" value="Data Source=RYAN-PC\SQLEXPRESS;Trusted_Connection=True"></add>
    <!--<add key="connectionstring" value="Data Source=***REMOVED***;Initial Catalog=***REMOVED***;User ID=***REMOVED***;Password=***REMOVED***"></add>-->
  </appSettings>
</configuration>